<a href="https://colab.research.google.com/github/xavier-1-tech/Lecture1_Kura_python/blob/main/Xavier_Lecture1_Kura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Class Challenges (Set One)** **Fundamentals **

1)
Ask for the user’s first name and display the output message
Hello [First Name] .

In [2]:
print("Welcome!")
f_name = input("Please Enter Your Firstname")
print("Hello", f_name)

Welcome!
Please Enter Your Firstnameb
Hello b

2)
Ask for the user’s first name and then ask for their surname and display the output message
Hello [First Name] [Surname].

In [3]:
print("Welcome!")
f_name = input("Please Enter Your Firstname")
s_name = input("Please Enter Your Surname")
print("Hello", f_name, s_name)

Welcome!
Please Enter Your Firstnameb
Please Enter Your Surnamed
Hello b d

3)
Write code that will display the joke “What do you call a bear with no teeth?” and on the next line display the answer “A gummy bear!” Try to create it using only one line of code.

In [7]:
print("What do you call a bear with no teeth? \nA gummy bear!")

What do you call a bear with no teeth?
A gummy bear!

4)
Ask the user to enter two numbers. 
Add them together and display the answer as
The total is [answer].

In [21]:


print("Welcome!")
a = int(input("enter first number: "))
b = int(input("enter second number: "))
 
sum = a + b
 
print("sum:", sum)

Welcome!
enter first number: 4
enter second number: 6
sum: 10

5)
Ask the user to enter three numbers. 
Add together the first two numbers and then multiply this total by the third. 
Display the answer as The answer is
[answer].

In [22]:
print("Welcome!")
a = int(input("enter first number: "))
b = int(input("enter second number: "))
c = int(input("enter third number: "))
 
sum = (a + b) * c
 
print("sum:", sum)

Welcome!
enter first number: 1
enter second number: 1
enter third number: 4
sum: 8

6) 
Ask how many slices of pizza the user started with and ask how many slices
they have eaten.
Work out how many slices they have left and display the answer in a user friendly
format.

In [23]:
print("Welcome!")
a = int(input("enter how many slices did you start with?: "))
b = int(input("enter how many slices do you have left?: "))
 
sum = (a - b) 
 
print("You have", sum, "slices left.")

Welcome!
enter how many slices did you start with?: 8
enter how many slices do you have left?: 2
You have 6 slices left.

7)
Ask the user for their name and their age. 
Add 1 to their age and display the output [Name] next birthday you
will be [new age].

In [25]:
print("Welcome!")
t_name = str(input("please enter your name: "))
n_age = int(input("please enter your age: "))
 
sum = n_age + 1 
print(t_name, "will be", sum, "on their next birthday.")

Welcome!
please enter your name: ben charles
please enter your age: 3
ben charles will be 4 on their next birthday.

8) 
Ask for the total price of the bill, then ask how many diners there are. 
Divide the total bill by the number of diners and show how much each
a person must pay.

In [28]:
print("Welcome!")
a = int(input("enter the total price of the bill: "))
b = int(input("enter how many diners there: "))
 
sum = (a / b) 
 
print("Each person must pay", sum)

Welcome!
enter the total price of the bill: 60
enter how many diners there: 6
Each person must pay 10.0

9)
Write a program that will ask for a number of days and then will show how many hours, minutes and seconds are in that number of days.

In [48]:
print("Welcome!")
days = float(input("enter the total number of days: "))

#Calculate the seconds from days
seconds = days * 24 * 60 * 60

#Calculate hours from days
hours = days * 24

#Calculate minutes from days
minutes = days * 24 * 60

print("There are", hours,"hr(s)", minutes,"min(s)", "and", seconds, "sec(s)", "in", days, "days.")

Welcome!
enter the total number of days: .2
There are 4.800000000000001 hr(s) 288.00000000000006 min(s) and 17280.000000000004 sec(s) in 0.2 days.

10)
There are 2,204 pounds in a kilogram. Ask the user to enter a weight in kilograms and convert it to pounds.

In [49]:
print("Welcome!")
kg_weight = float(input("enter the total weight in kilograms(kg): "))

#Calculate the pounds from kilograms
pounds = kg_weight * 2204

print("There are", pounds,"pounds(s)","in", kg_weight, "kilogram(s)(kgs).")

Welcome!
enter the total weight in kilograms(kg): 4
There are 8816.0 pounds(s) in 4.0 kilograms(kgs).

11) 
Task the user to enter a number over 100 and then enter a number under 10 and tell them how many times the smaller number goes into the larger number in a user-friendly format.

In [58]:
print("Welcome!")
a = int(input("enter a number over 100: "))
b = int(input("enter a number below 10: "))
 
sum = (a / b) 
 
print(b, "goes into", a,":", sum, "times")

Welcome!
enter a number over 100: 452
enter a number below 10: 2
2 goes into 452 : 226.0 times

# Class Challenge (Set 2) If Statements

1)
Ask for two numbers. If
the first one is larger
than the second, display
the second number first
and then the first
number, otherwise show
the first number first and
then the second.

2) Ask the user to enter a
number that is under 20. If they enter a
number that is 
20 or
more, display the
message “Too high”,
otherwise display
“Thank you”.

3) Ask the user to enter a
number between 10 and 20
(inclusive). If they enter a
number within this range,
display the message “Thank
you”, otherwise display the
message “Incorrect answer"

4) Ask the user to enter their favourite colour. If they enter “red”, “RED” or
“Red” display the message “I like red too”, otherwise display the message
“I don’t like [colour], I prefer red”.

5) Ask the user if it is raining and convert their answer to lower case
so it doesn’t matter what case they type it in. If they answer “yes”,
ask if it is windy. If they answer “yes” to this second question,
display the answer “It is too windy for an umbrella”, otherwise
display the message “Take an umbrella”. If they did not answer yes
to the first question, display the answer “Enjoy your day”.

6) Ask the user’s age. If they
are 18 or over, display the
message “You can vote”, if
they are aged 17, display the
message “You can learn to
drive”, if they are 16, display
the message “You can buy a
lottery ticket”, if they are
under 16, display the
message “You can go Trickor-
Treating”.

7) Ask the user to enter a number. If it is under 10,
display the message “Too low”, if their number is
between 10 and 20, display “Correct”, otherwise
display “Too high”.

8) Ask the user to enter 1, 2 or 3. If they enter a 1, display
the message “Thank you”, if they enter a 2, display
“Well done”, if they enter a 3, display “Correct”. If
they enter anything else, display “Error message”.

9) Ask the user to enter 1, 2 or 3. If they enter a 1, display
the message “Thank you”, if they enter a 2, display
“Well done”, if they enter a 3, display “Correct”. If
they enter anything else, display “Error message”.